.food-item {
  width: 100%;
  margin: auto;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  animation: animation 2s;
  background-color: rgba(246, 245, 242, 0.765);
  border-radius: 7px;
}

/* .food-item-image-container {
} */
.food-item-image {
  width: 100%;
  border-radius: 15px;
  padding: 11px;
}

.food-item-info {
  padding: 20px;
}

.food-item-info-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.food-item-info-rating p {
  align-items: center;
  font-weight: 500;
  color: #507c8c;
}
.food-item-info-rating img {
  width: 75px;
}
.food-item-discription {
  color: #676767;
  font-size: 14px;
}

.food-item-price {
  color: #877a70;
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0px;
}

h3 {
  width: 80%;
  color: #27c186;
  font-weight: 500;
  animation: animation 2s;
}

.btn {
  width: 35px;
  height: 30px;
  border-radius: 50px;
  padding: 5px;
}
.add {
  width: 40px;
  height: 40px;
  color: #ffffff;
  background-color: rgb(253, 253, 253);
  background-color: #f6793f;
}
.food-item-counter {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #877a70;
  padding: 0 20px;
  height: 45px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}
.x {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  animation: animation 0.4s;
  background-color: #e57221;
}

.food-item-counter p {
  color: #ffffffd5;
  cursor: none;
  font-size: 22px;
}
